
.cont
{
   border: 1px solid black;
   width: 100%;
  
}

.top_cont
{
   border: 1px solid black;
   width: 100%;
   height: 300px;
}

.mid_cont
{
    border: 1px solid black;
    background-color: lightskyblue;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.sound
{
    border: 1px solid black;
    border-radius: 20px;
    background-color: lightgray;
    width: 50px;
    height: 30px;
    margin: auto;
    cursor: pointer;
    justify-content: space-around;
}
.sound>i
{
    margin: auto;
}
#vol
{
    margin: auto;
    margin-left: 100px;
}
.play
{
    border: 1px solid black;
    border-radius: 40px;
    background-color: lightgray;
    width: 80px;
    height: 50px;
    margin: auto;
    cursor: pointer;
}


.btm_cont
{
    border: 0px solid black;
    width: 92%;
    height: 270px;
    padding: 50px;
    display: flex;
    flex-direction: row;
}

.btm_right
{
    border: 1px solid lightgray;
    width: 100%;
    height: 100px;
    padding-right: 10px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSNEqeywFME-49WLPQ5qGnbAfFve_RB-nPbJicSaeNWw38X7K1rr3Ktj6TmT_k9oINI6BA&usqp=CAU");
}

.btm_right>input
{
    border: 1px solid black;
    width: 100%;
}


li
{
    list-style: none;
    font-family: sans-serif;
    margin-bottom: 8px;
}

.list_tag
{
    min-width: 200px;
    display: inline-block;
}



